h2{
  font-size: 30px;
  font-family:'Times New Roman', Times, serif;
  background-color: black;
  color: yellow;
  border: 10px white;
  padding: 5px;
}
#out{
  width: 50%;
  box-shadow: 10px 10px 10px 10px rgb(15, 15, 15);
  border-radius: 50px;
  background-color:rgb(18, 230, 215);
  transform: translate(50%, 50%); 
} 
input.button{
  margin-bottom: 40%;
  display: block;
}
input{
  display: block;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px double
   black;
  font-size: 30px;
  padding: 30px;
  width: 75%;
  text-align: center;
  
}
p{  
  padding: 40px;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 10px;
}
button{
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;  
}
button:hover{
  cursor: pointer;
  color: rgb(24, 212, 198);
  background-color: black;
}




/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
